@font-face{
  font-family: "Super Mario Script 3";
  src: url('../fonts/super-mario-script-3.ttf');
}
@font-face{
  font-family: "Super Mario Bros 3";
  src: url('../fonts/Super-Mario-Bros-3.ttf')
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
  background-color: #000;
  font-size: 10px;
}

#container{
	width:800px; 
	margin:0 auto;
	position: relative;	
}

h1{
  text-align: center;
  font-family: "Super Mario Script 3", "Impact", sans-serif;
  font-size:8em;
  color: #3cbcfd;
  text-shadow: 10px 7px 0px rgba(0,0,168,1);
}
h1 span{
  color: #fc9838;
  text-shadow: 10px 7px 0px rgba(252,200,0,1); 
}

input[type=radio]{
  display: none;
}

button{
  font-family: "Super Mario Bros 3", "Impact", sans-serif;
  font-size:3em;
  border: none;
  background: none;
  color: #fff;
  text-transform: lowercase;
  margin: 0 auto;
  display: block;
  padding-left:.5em; /* so it can still center with the ::before */
  visibility: hidden;
}
button::before{
  content: "	\0025BA";
  color: #d82800;
  visibility: hidden;
  padding-right:.5em;
}
button:hover::before{
  visibility: visible;
}

#board{
  background-color: #fdbdb1;
  width: 600px;
  margin: 4em auto;
  border: 1em solid #fff;
  border-radius: 10px;
  overflow: hidden;
}

.slide{ 
  overflow: hidden;
  height: 160px;
  width: 100%;
  display: block;
  border: 1em solid #000;
  cursor: pointer;
}
.slide#slide_top, .slide#slide_middle{
  border-bottom: none;
}
.slide#slide_middle, .slide#slide_bottom{
  border-top: none;
}
.slide.top, .slide.bottom{
  height: calc(160px + 1em);
}
.slide img{
  animation: slide 4s linear infinite both;
}
.slide#slide_middle img{
  animation-direction: reverse;
}

input#rad_slide_top:checked ~ #board label#slide_top img,
input#rad_slide_middle:checked ~ #board label#slide_middle img,
input#rad_slide_bottom:checked ~ #board label#slide_bottom img {
  animation-play-state: paused;
}

input#rad_slide_top:checked + input#rad_slide_middle:checked + input#rad_slide_bottom:checked ~ button{ 
  visibility: visible;
}

/* prevent others from being clicked if the one above isn't checked */
input#rad_slide_top:not(:checked) ~ #board #slide_middle,
input#rad_slide_top:not(:checked) ~ #board #slide_bottom,
input#rad_slide_middle:not(:checked) ~ #board #slide_bottom {
pointer-events:none;
 
}

/* Animations */
@keyframes slide {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-2580px);
  }
  
}